<app-vineyardsslider></app-vineyardsslider>
<!--  -->
<section>
  <div class="sectioncont">
    <div class="section-left">
      <h2>ვენახები</h2>
      <h3>
        <hr />
      </h3>
    </div>
    <div class="section-right">
      <p>
        დაქიშვილების ვენახები (11 ჰა) განთავსებულია თელავსა და ახმეტაში,
        კონკრეტულად კი სოფელ კონდოლში, კურდღელაურში, ჟალურში და ბაბანეურში.
        თელავის, ადგილწარმოშობის დასახელება წინანდლის ნიადაგები მიეკუთნება
        ალუვიურ კატეგორიას, რომლის ზედა შრე თიხის, ალაზნის ქვიშისა და ლამის
        ნაზავით გამოირჩევა. ქვედა შრეები კი, მდიდარია კირქვის და უძველესი ზღვის
        დანალექბის ნარჩენებით. ნიადაგის ასეთი ნაზავი ვაზის სრულყოფილი
        კვებისათვის საუკეთესო პირობაა, ამავე დროს ნიადაგის ეს კომპოზიცია
        საუკეთესო სადრენაჟო თვისებებითაა გამორჩეული და ვაზის დაავადებების
        რისკების მინიმალიზაციას ქმნის. ალაზნის ველი და კავკასიონის მთების
        სიახლოვე უზრუნველყოფს უნიკალურ მიკროკლიმატს, რაც მნიშვნელოვან გავლენას
        ახდენს ყურძნის ხარისხზე. ახმეტის რაიონის ძირითადი სავენახე ფართობებიც
        ალუვიურ ნიადაგებს მიეკუთვნება, მსუბუქი თიხნარის და ლამის ზედა ფენებით და
        ბაზალტური და კირქვიანი ქვედა შრეებით. ღამის გრილი ნიავი, რომელიც
        კავკასიონის მთებიდან ბაბანეურის ხეობაში გადმოედინება, ქმნის მკვეთრ
        ტემპერატურულ სხვაობას დღის და ღამის განმავლობაში, რაც ღვინოს გამოხატულ
        არომატებს ანიჭებს.
      </p>
    </div>
  </div>
</section>
<div id="wine-wrapper">
  <div class="wrapitem">
    <img src="/assets/fotoebi/PSX_20221228_220623.jpg" alt="" />
  </div>
  <div class="wrapitem">
    <img src="/assets/fotoebi/PSX_20230106_202901.jpg" alt="" />
  </div>
  <div class="wrapitem">
    <img src="/assets/fotoebi/PSX_20230206_225457.jpg" alt="" />
  </div>
  <div class="wrapitem">
    <img src="/assets/fotoebi/PSX_20231030_101449.jpg" alt="" />
  </div>
  <div class="wrapitem">
    <img src="/assets/fotoebi/PSX_20231029_193200.jpg" alt="" />
  </div>
</div>

<div class="videoimgdiv">
  <video
    #videoPlayer
    [muted]="true"
    [loop]="true"
    [src]="videoSource"
    playsinline
  ></video>
</div>
