<app-vineyardsslider></app-vineyardsslider>
    <!--  -->
    <section>
      <div class="section-left">
        <h2>
          Vineyards
        </h2>
        <h3>
          <hr />
        </h3>
      </div>
      <div class="section-right">
        <p>
         The Dakishvili vineyards (11 ha) are located in Telavi and Akhmeta, specifically in the villages of Kondoli, Kurdgelauri, Zhaluri, and Babaneuri.<br>

The soils of the villages of Kondoli and Kurdgelauri belong to the alluvial category,<br> the upper layer of which is a mixture of clay, sand from the riverside of Alazani, and silt distinguishes it.
<br>The lower layers are rich in limestone and ancient marine sediments.

This composition of the soil is best for the complete nutrition of the vine; at the same time, <br>it is distinguished by the best drainage ability what minimizes the risks of vine diseases.

        </p>
        
      </div>
    </section>
    <div id="wine-wrapper">
      <div class="wrapitem">
        <img src="/assets/fotoebi/PSX_20221228_220623.jpg" alt="" />
      </div>
      <div class="wrapitem">
        <img src="/assets/fotoebi/PSX_20230106_202901.jpg" alt="" />
      </div>
      <div class="wrapitem">
        <img src="/assets/fotoebi/PSX_20230206_225457.jpg" alt="" />
      </div>
      <div class="wrapitem">
        <img src="/assets/fotoebi/PSX_20231030_101449.jpg" alt="" />
      </div>
      <div class="wrapitem">
        <img src="/assets/fotoebi/PSX_20231029_193200.jpg" alt="" />
      </div>
    </div>

   
    <div class="videoimgdiv">
  <video
    #videoPlayer
    [muted]="true"
    [loop]="true"
    [src]="videoSource"
    playsinline
  ></video>


    </div> 
    
