/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100vh;
  position: relative;

  /* Hide the images by default */
  .mySlides {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: lightgray;
    text-align: center;
    line-height: 300px;
    font-size: 2em;
    overflow: hidden;

  }

  .mySlides.active {
    opacity: 1;
    z-index: 1;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* Fading animation */
  .fade {
    position: relative;
    width: 100%;
    height: 100%;


    img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: bottom;

    }
  }
  /* carousel.component.scss */
  @keyframes zoom-in {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
  }

  .zoom-in {
    animation: zoom-in 4.5s ease-in-out forwards;
  }
}
