<main>
  <div class="main-textdiv">
    <h1>Dakishvili Family Vineyards</h1>
    <!-- <h4>Life gets better when you can touch and feel finesse</h4> -->
    <span>
      <div class="leftline"></div>
      <div class="years">
        <h2>Life gets better when you can touch and feel finesse</h2>
      </div>
      <div class="rightline"></div>
    </span>
  </div>
  <app-slider></app-slider>
  <br />
</main>
<!-- ! -->
<section>
  <div class="section-left">
    <h2>დაქიშვილების მეღვინეობა</h2>
    <h3>
      <hr />
    </h3>
  </div>
  <div class="section-right">
    <p>
      მეღვინეობა „დაქიშვილების რჩეული ღვინოები“ დაარსდა გოგი დაქიშვილის მიერ
      2002 წელს და სპეციალიზირდება
      <br />მცირე რაოდენობით წარმოებულ, მაღალი ხარისხის ღვინოებზე. დაქიშვილების
      საოჯახო მარნები მდებარეობს <br />კახეთის რეგიონის ორ სოფელში — შალაურსა და
      კისიხევში, რომლებიც გარშემორტყმულია მთებითა და ტყეებით და ითვლება
      ეკოლოგიურად სუფთა მხარედ. <br />კახეთი მეღვინეობის ცნობილი რეგიონია და
      აღიარებულია ქარვისფერი ღვინის ქვევრში ჭაჭაზე დავარგების ტექნოლოგიის
      აკვანად. დღეს მეღვინეობის წარმოებაში მთელი ოჯახია ჩართული.
    </p>
  </div>
</section>
<!-- ? -->
<div class="subimg"></div>
<!-- ?aside -->
<aside>
  <div class="winesdiv">
    <div class="winesitem">
      <img src="/assets/fotoebi/about-4.jpg" alt="" />
    </div>
    <div class="winesitem">
      <img src="/assets/fotoebi/h1-gallery-01.jpg" alt="" />
    </div>
    <div class="winesitem">
      <img src="/assets/fotoebi/PSX_20230730_201048.jpg" alt="" />
    </div>
    <div class="winesitem">
      <img src="/assets/fotoebi/h1-gallery-02.jpg" alt="" />
    </div>
  </div>
</aside>
<!-- ? -->
<div class="wineagw">
  <h1>დაქიშვილების მეღვინეობა</h1>
  <div class="textarealdiv">
    <span></span>
    <p>Life gets better when you can touch and feel finesse</p>
    <span></span>
  </div>
  <div class="tripdiv">
    <div class="wineagw-left">
      <h3><mark>11</mark> Vineyards AREA IN HECTARE</h3>
    </div>

    <div class="wineagw-right">
      <h3><mark>50</mark>K Bottle of wine in this year</h3>
    </div>
  </div>
</div>

<div class="fixedimg"></div>
