<div class="subimg">
  <div class="main-textdiv">
    <h1>Dakishvili Family Wines</h1>
    <h4>Life gets better when you can touch and feel finesse</h4>
    <span>
      <div class="leftline"></div>
      <div class="years">
        <h2>estd2020</h2>
      </div>
      <div class="rightline"></div>
    </span>
  </div>
</div>

<div class="asi">
  <div class="asideleft">
    <h1 id="asidelefth1">დაქიშვილების ოჯახი</h1>
    <p>
      დაქიშვილების ოჯახის წინაპრები საქართველოში 1750-იან წლებში
      <br />ჩამოვიდნენ ჩრდილოეთ კავკასიიდან, ჩეჩნენეთის, არგუნის ხეობიდან<br />
      და დასახლდნენ პანკისის ხეობაში. მათი ძირითადი საქმიანობა <br />აგრარული
      მეურნეობა იყო, რომელიც დღემდე გრძელდება. 1900-იანი წლების<br />
      დასაწყისში დეკანოზმა სიმონ დაქიშვილმა დაიწყო ღვინის დაყენება<br />
      საეკლესიო მსახურებისთვის. დღეს, დაქიშვილები დაგროვილი<br />
      ტრადიციული გამოცდილებითა და თანამედროვე ცოდნის გამოყენებით<br />
      აყენებენ ღვინოს. გოგი, თემური და ილონა დაქიშვილების ოჯახის პროფესიონლი
      ენოლოგები <br />არიან და მათ მიერ ხდება ღვინის დაყენება
    </p>
  </div>
  <div class="asideright">
    <div class="leftimgbig">
      <div class="img1">
        <img src="/assets/fotoebi/PSX_20230113_011407.jpg" alt="" />
      </div>
    </div>
    <div class="rightbigdiv">
      <div class="img1">
        <img src="/assets/fotoebi/შოკ.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="fixedimg"></div>

<div class="wineagw">
  <h1>დაქიშვილების ოჯახი</h1>
  <div class="textarealdiv">
    <span></span>
    <p>Life gets better when you can touch and feel finesse</p>
    <span></span>
  </div>
  <div class="tripdiv">
    <div class="wineagw-left">
      <h3><mark>11</mark> Vineyards AREA IN HECTARE</h3>
    </div>

    <div class="wineagw-right">
      <h3><mark>50</mark>K Bottle of wine in this year</h3>
    </div>
  </div>
</div>

<aside>
  <div class="winesdiv">
    <div class="winesitem">
      <img src="/assets/fotoebi/about-4.jpg" alt="" />
    </div>
    <div class="winesitem">
      <img src="/assets/fotoebi/h1-gallery-01.jpg" alt="" />
    </div>
    <div class="winesitem">
      <img src="/assets/fotoebi/PSX_20230730_201048.jpg" alt="" />
    </div>
    <div class="winesitem">
      <img src="/assets/fotoebi/h1-gallery-02.jpg" alt="" />
    </div>
  </div>
</aside>
