<div class="subimg">
  <div class="main-textdiv">
    <h1>Dakishvili Family Wines</h1>
    <h4>Life gets better when you can touch and feel finesse</h4>
    <span>
      <div class="leftline"></div>
      <div class="years">
        <h2>estd2020</h2>
      </div>
      <div class="rightline"></div>
    </span>
  </div>
</div>

<div class="asi">
  <div class="asideleft">
    <h1 id="asidelefth1">Story of the family</h1>
    <p>
      The Dakishvili family's connection to winemaking runs deep. Their
      ancestors arrived in Georgia<br />
      in the 1750s from the North Caucasus, specifically from the Argun gorge of
      Chechnya, and settled<br />
      in the Pankisi Gorge. Their primary activity was agriculture, which
      remains to this day. In the early 1900s,<br />
      orthodox priest Simon Dakishvili began making wine for church services.
      From this time on, winemaking became <br />
      the family's primary business, a tradition that has been passed down
      through the generations.<br />
      Today, the entire family is involved in the winemaking process.<br />
      The artisan winery produces up to 50,000 bottles of white, amber, rosé,
      red, sparkling,<br />
      and dessert wines annually. The Dakishvilis produce wine using a unique
      blend of their accumulated traditional<br />
      experience and modern knowledge. This balance between heritage and
      innovation is evident in every bottle they produce. <br />Gogi, Temur, and
      Ilona are the professional oenologists of the Dakishvili family, and they
      make the wine for the family winery. Each batch of wine varies from 500 to
      5,000 bottles per year and is presented under the “Dakishvili Family
      Selection” brand.
    </p>
  </div>
  <div class="asideright">
    <div class="leftimgbig">
      <div class="img1">
        <img src="/assets/fotoebi/PSX_20230113_011407.jpg" alt="" />
      </div>
    </div>
    <div class="rightbigdiv">
      <div class="img1">
        <img src="/assets/fotoebi/შოკ.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="fixedimg"></div>

<div class="wineagw">
  <h1>Dakishvili Family Vineyards</h1>
  <div class="textarealdiv">
    <span></span>
    <p>Life gets better when you can touch and feel finesse</p>
    <span></span>
  </div>
  <div class="tripdiv">
    <div class="wineagw-left">
      <h3><mark>11</mark> Vineyards AREA IN HECTARE</h3>
    </div>

    <div class="wineagw-right">
      <h3><mark>50</mark>K Bottle of wine in this year</h3>
    </div>
  </div>
</div>

<aside>
  <div class="winesdiv">
    <div class="winesitem">
      <img src="/assets/fotoebi/about-4.jpg" alt="" />
    </div>
    <div class="winesitem">
      <img src="/assets/fotoebi/h1-gallery-01.jpg" alt="" />
    </div>
    <div class="winesitem">
      <img src="/assets/fotoebi/PSX_20230730_201048.jpg" alt="" />
    </div>
    <div class="winesitem">
      <img src="/assets/fotoebi/h1-gallery-02.jpg" alt="" />
    </div>
  </div>
</aside>
