<main>
  <figure></figure>
  <section>
    <div class="section-left" style="display: flex; justify-content: center">
      <h2 style="text-align: center">
        Dakishvili family wine<br />
        &<br />
        chocolate boutique
      </h2>
      <h3>
        <hr />
      </h3>
    </div>
    <div class="section-right">
      <p>
        Dakishvili wine boutique and tasting hall aren’t like any other
        wine-offering<br />
        places you’ve experienced in Telavi.Just Founded in 2023 springtime by
        the <br />Dakishvili family, this warm and welcoming wine boutique
        offers a unique <br />wine-living atmosphere. In addition, to enjoy time
        here, be for a time a wine<br />
        expert and learn essential details of several styles (antique,
        classical, dessert, <br />and sparkling) of wine making and tasting.
        <br />Family’s eco-sustainable wines serve up pours at this quaint,
        hole-in-the-wall<br />
        boutique and at a good price, too. Food offerings are limited to snacks,
        meat, <br />cheese, Vegan-friendly local sweets, plates of freshly baked
        bread, and the <br />best choice of Dakishvili handmade chocolate. Those
        headings to Dakishvili <br />wine boutique are there for the hospitality
        and ambiance, with the possibility <br />to enjoy limited bottlings of
        family reserve wines, available only here.
      </p>
    </div>
  </section>
  <div class="figcaption"></div>
  <!-- ! -->

  <div class="wineagw">
    <h1>BOUTIQUE ATMOSPHERE</h1>
    <div class="textarealdiv">
      <span></span>
      <p>
        Here is a quiet atmosphere where old wine barrels from the Dakishvili
        cellar have found a new life, repurposed as tables and armchairs for
        local wine lovers.
      </p>
      <span></span>
    </div>
    <aside>
      <div class="winesdiv">
        <div class="winesitem">
          <img src="/assets/fotoebi/about-4.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/fotoebi/h1-gallery-01.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/fotoebi/PSX_20230730_201048.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/fotoebi/h1-gallery-02.jpg" alt="" />
        </div>
      </div>
    </aside>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d441.3175051978109!2d45.47334117837289!3d41.918261059764184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x24f090f1fea12857%3A0x349f005d6d57886e!2sDakishvili%20Wine%20%26%20Chocolate!5e0!3m2!1ska!2sge!4v1749548209436!5m2!1ska!2sge"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</main>
