<main>
  <figure></figure>
  <section>
    <div class="section-left" style="display: flex; justify-content: center">
      <h2 style="text-align: center">
        Dakishvili family wine<br />
        &<br />
        chocolate boutique
      </h2>
      <h3>
        <hr />
      </h3>
    </div>
    <div class="section-right">
      <p>
       Dakishvili Wine Cellar, founded in 2002 by Gogi Dakishvili, specializes in producing high-end wines in limited quantities. The Family wine cellars are located in the villages of Shalauri and Kisikhevi in the eastern part of Georgia, in the country's most famous wine region, Kakheti.
       The region of Kakheti has a deep winemaking tradition and is recognized as the birthplace of Amber skin contact wine technology.
       Mountains and forests surround the villages of Shalauri and Kisikhevi is one of the Eco cleanest areas in the region. Making wine is a sense of life for the Dakishvili family, which has been making wine for over a century. The family-owned boutique winery produces a limited, high-quality series of white, amber, rosé, red, and sparkling wines. Annually, the winery produces around 50,000 bottles of wine.
       Each wine series comprises 500 to 5,000 bottles released under the Dakishvili Family Selection brand.

      </p>
    </div>
  </section>
  <div class="figcaption"></div>
  <!-- ! -->

  <div class="wineagw">
    <h1>CELLAR ATMOSPHERE</h1>
    <div class="textarealdiv">
      <span></span>
      <p>
        Here is a quiet atmosphere where old wine barrels from the Dakishvili
        cellar have found a new life, repurposed as tables and armchairs for
        local wine lovers.
      </p>
      <span></span>
    </div>
    <aside>
      <div class="winesdiv">
        <div class="winesitem">
          <img src="/assets/fotoebi/about-4.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/2025img/cellar 3.JPG" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/2025img/PSX_20221112_185523.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/2025img/PSX_20221112_185612.jpg" alt="" />
        </div>
      </div>
    </aside>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d441.3175051978109!2d45.47334117837289!3d41.918261059764184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x24f090f1fea12857%3A0x349f005d6d57886e!2sDakishvili%20Wine%20%26%20Chocolate!5e0!3m2!1ska!2sge!4v1749548209436!5m2!1ska!2sge"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</main>
