   <main>
      <figure></figure>
      <section>
        <div class="section-left">
          <h2>
            Inside every bottle <br />there is balance.<br />
            discover our wines.
          </h2>
          <h3>
            <hr />
            French Provence Wine
          </h3>
        </div>
        <div class="section-right">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut <br />labore et dolore magna aliqua. A
            condimentum vitae sapien pellentesque habitant morbi <br />tristique
            senectus et.
          </p>
          <p>
            Venenatis cras sed felis eget velit aliquet sagittis. Duis tristique
            sollicitudin nibh sit amet<br />
            commodo. Tellus at urna condimentum mattis pellentesque id nibh.
            Nisl condimentum id <br />venenatis a condimentum vitae. Ut sem
            viverra aliquet eget sit amet. Sapien eget mi proin<br />
            sed libero enim sed faucibus.
          </p>
        </div>
      </section>
      <div class="figcaption"></div>
      <!-- ! -->

      <div class="asi">
        <div class="asideleft">
          <h1 id="asidelefth1">We are vineyard specialists first</h1>
          <h3 id="sadzagloba">
            <hr />
            French Provence Wine
          </h3>
          <p>
            Nusquam epicuri appellantur at sit. Mea etiam eu intellegat,
            <br />
            mel veritus percipitur vix. Eam tritani scripto ei, sea persius<br />
            ne, eu pri semper curreret scripserit ei vis.
          </p>
        </div>
        <div class="asideright">
          <div class="leftimgbig">
            <div class="img1">
              <img src="assets/fotoebi/PSX_20230114_015310.jpg" alt="" />
            </div>
          </div>
          <div class="rightbigdiv">
            <div class="img1">
              <img src="assets/fotoebi/PSX_20221228_220623.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d441.3175051978109!2d45.47334117837289!3d41.918261059764184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x24f090f1fea12857%3A0x349f005d6d57886e!2sDakishvili%20Wine%20%26%20Chocolate!5e0!3m2!1ska!2sge!4v1749548209436!5m2!1ska!2sge"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </main>