@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Londrina+Sketch&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande" "Italianno",
    "Lucida Sans Unicode", cursive, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}
